{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<meta name="robots" content="noindex">
	<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
	<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
	<link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

	{% comment %} <script src="https://use.typekit.net/hoy3lrg.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script> {% endcomment %}
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>


<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>{{user.username}}</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				{% for friend in friends %}
					{% if friend.sender != user.profile %}
						<li class="contact">
							<div class="wrap">
								<span class="contact-status online"></span>
								<img src="{{user.profile.image.url}}" alt="" />
								<div class="meta">
									<input type="hidden" id = "{{friend.sender}}" value = "{{friend.slug}}">
									<input id="room-name-input" type="button" value = "{{friend.sender}}"/><br/>
									<p class="preview">You just got LITT up, Mike.</p>
								</div>
							</div>
						</li>
						
					{% else %}
						<li class="contact">
							<div class="wrap">
								<span class="contact-status online"></span>
								<img src="{{user.profile.image.url}}" alt="" />
								<div class="meta">
									<input type="hidden" id = "{{friend.receiver}}" value = "{{friend.slug}}" >
									<input id="room-name-input" type="button" value = "{{friend.receiver}}"/><br/>
									<p class="preview">You just got LITT up, Mike.</p>
								</div>
							</div>
						</li>
						
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content" >
		<div class="contact-profile">
			{% block contact %}
			{% endblock  %}
		</div>
		<div class="messages">
			<ul id="chat-log">
				
				
			</ul>
		</div>
		<div class="message-input">
			{% block messages %}
			
            {% endblock messages %}
			
		</div>
	</div>
</div>



<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='{% static 'main.js' %}'></script>
<script src={% static 'reconnecting-websocket.js' %}></script>

{% block scripts %}

{% endblock scripts %}


</body>
</html>