{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<meta name="robots" content="noindex">
	<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
	<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
	<link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

	{% comment %} <script src="https://use.typekit.net/hoy3lrg.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script> {% endcomment %}
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'emoji.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
	<title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>


<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="{{user.profile.image.url}}" class="online" alt="" />
				<p>{{user.username}}</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
					<label for="update profile"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i></label>
					<button name="update profile" class = "mybtn" data-toggle="modal" 
					data-target="#updateModal"/>Edit Profile </button>
					<label for="logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></label>
					<a name="logout" class="mybtn" href="{% url 'profiles:logout' %}"/> Logout </a>
				</div>
				
			</div>
		</div>
		<div id="search">
			<form action="" method='GET'>
				<label for=""><button type="submit" name='search_my_contacts'>
				<i class="fa fa-search" aria-hidden="true"></i></button></label>
				<input type="text" name="username_contains" placeholder="Search your contacts..." />
			</form>
		</div>
		<div id="contacts">
			<ul>
				<!--LIST OUT SEARCHED FRIENDS-->
				{% for friend in searched_contacts %}
					{% if friend.sender != user.profile %}
						<li class="contact">
							<button class="wrap" id="room-name-input" value = "{{friend.sender}}">
								<span class="contact-status online"></span>
								<img src="{{friend.sender.image.url}}" alt="" />
								<div class="meta">
									<input type="hidden" id = "{{friend.sender}}" value = "{{friend.slug}}">
									{{friend.sender}}
								</div>
							</button>
						</li>				
					{% else %}
						<li class="contact">
							<button class="wrap" id="room-name-input" value = "{{friend.receiver}}">
								<span class="contact-status online"></span>
								<img src="{{friend.receiver.image.url}}" alt="" />
								<div class="meta">
									<input type="hidden" id = "{{friend.receiver}}" value = "{{friend.slug}}" >
									{{friend.receiver}}
								</div>
							</button>
						</li>
					{% endif %}
				{% endfor %}
				<!--LIST OUT ONLINE FRIENDS-->
				{% for friend in online_friends %}
					{% if friend.sender != user.profile %}
						<li class="contact">
							<button class="wrap" id="room-name-input" value = "{{friend.sender}}">
								<span class="contact-status online"></span>
								<img src="{{friend.sender.image.url}}" alt="" />
								<div class="meta">
									<input type="hidden" id = "{{friend.sender}}" value = "{{friend.slug}}">
									{{friend.sender}}
									<p class="preview">Online</p>
								</div>
							</button>
						</li>				
					{% else %}
						<li class="contact">
							<button class="wrap" id="room-name-input" value = "{{friend.receiver}}">
								<span class="contact-status online"></span>
								<img src="{{friend.receiver.image.url}}" alt="" />
								<div class="meta">
									<input type="hidden" id = "{{friend.receiver}}" value = "{{friend.slug}}" >
									{{friend.receiver}}
									<p class="preview">Online</p>
								</div>
							</button>
						</li>
						
					{% endif %}
				{% endfor %}
				<!--LIST OUT OFFLINE FRIENDS-->
				{% for friend in offline_friends %}
					{% if friend.sender != user.profile %}
						<li class="contact">
							<button class="wrap" id="room-name-input" value = "{{friend.sender}}">
								{% comment %} <span class="contact-status online"></span> {% endcomment %}
								<img src="{{friend.sender.image.url}}" alt="" />
								<div class="meta">
									<input type="hidden" id = "{{friend.sender}}" value = "{{friend.slug}}">
									{{friend.sender}}
									<p class="preview">Offline</p>
								</div>
							</button>
						</li>				
					{% else %}
						<li class="contact">
							<button class="wrap" id="room-name-input" value = "{{friend.receiver}}">
								<img src="{{friend.receiver.image.url}}" alt="" />
								<div class="meta">
									<input type="hidden" id = "{{friend.receiver}}" value = "{{friend.slug}}" >
									{{friend.receiver}}
									<p class="preview">Offline</p>
								</div>
							</button>
						</li>
						
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="pending-requests"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Pending Requests</span></button>
		</div>
	</div>	
		{% comment %} ADD CONTACTS {% endcomment %}
	{% if contacts %}
		<div class="addcontacts addcontacts-active">
	{% else %}
		<div class="addcontacts">
	{% endif %}	
			<h4>Add new contact</h4>
			<div class="contactsearch">
				<form action="" method='GET' id="addcontact-form">
					<input type="text" id="username_contains" name="username_contains" placeholder="Search by username..." />
					<label for="username_contains"><button type="submit" name='search_new_contacts'>
					<i class="fa fa-search" aria-hidden="true"></i></button></label>
				</form>
			</div>
			<ul class="container">
				{% for contact in contacts %}
					<li class="block">
						<img src="{{contact.image.url}}" alt="" />
						<div class="meta">
							<h4>{{contact}}</h4>
							<p>{{contact.email}}</p>
							<p>{{contact.bio}}</p>
							<a class="btn btn-primary mybtn" href="{% url 'chat:friendrequest' username=contact.user.username %}">Request</a>
						</div>
					</li>
				{% endfor %}
				
			</ul>
		</div>
		<div class="pendingrequests">
			<h4>Pending Requests</h4>
			<h6>Received Requests</h6>
			<ul class="container">
				{% for contact in received_requests %}
					<li class="block">
						<img src="{{contact.sender.image.url}}" alt="" />
						<div class="meta">
							<h4>{{contact.sender}}</h4>
							<p>{{contact.sender.email}}</p>
							<p>{{contact.sender.bio}}</p>
							<a class="" href="{% url 'chat:friendrequest' username=contact.sender.user.username %}" 
							name="reject" >Reject</a>
							<a class="btn btn-primary mybtn" 
							href="{% url 'chat:acceptrequest' username=contact.sender.user.username %}" >Accept</a>
						</div>
					</li>
				{% endfor %}
			</ul>
			<h6>Sent Requests</h6>
			<ul class="container">
				{% for contact in sent_requests %}
					<li class="block">
						<img src="{{contact.receiver.image.url}}" alt="" />
						<div class="meta">
							<h4>{{contact.receiver}}</h4>
							<p>{{contact.receiver.email}}</p>
							<p>{{contact.receiver.bio}}</p>
							<a class="btn btn-danger mybtn" href="{% url 'chat:friendrequest' username=contact.receiver.user.username %}">Cancel</a>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	
	<div class="content" >
		<div class="contact-profile">
			{% block contact %}
			{% endblock  %}
		</div>

		<div class="messages">
			<ul id="chat-log">
				<div class="logo">
                    scribble
                </div>
				
			</ul>
		</div>
		<div class="message-input">
			{% block messages %}
			
            {% endblock messages %}
			
		</div>
	</div>
</div>
<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable myModal">
	<div class="modal-content ">
	<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<form action="" method="post" enctype="multipart/form-data">
		<div class="modal-body">
			
			{% csrf_token %}
			{{update_form.as_p}}
			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" name="edit_profile" class="btn btn-primary">Save changes</button>
		</div>
	</form>
	</div>
</div>
</div>



<script src={% static 'main.js' %}></script>
<script src={% static 'reconnecting-websocket.js' %}></script>
<script src={% static 'jquery.emojiarea.js' %}></script>
<script src={% static 'util.js' %}></script>
<script src={% static 'config.js' %}></script>
<script src={% static 'emoji-picker.js' %}></script>

{% block scripts %}

{% endblock scripts %}


</body>
</html>