<!-- chat/templates/chat/index.html -->
{% extends 'chat/base.html' %}
{% load static %}
    {% block title %}
        {{user.username}}
    {% endblock title %}

    
   
    {% block scripts %}
    
    <script>
      

        const friendBtn = document.querySelectorAll('#room-name-input');
        friendBtn.forEach((item) => {item.addEventListener('click' ,function(e) {
            var roomName = document.querySelector('#'+item.value).value;
            window.location.pathname = '/chat/' + roomName + '/';
        })})


        
    </script>
    {% endblock scripts %}