{% extends 'chat/base.html' %}
{% load static %}

{% block contact %}
    <img src="{{message_receiver.image.url}}" alt="" />
    <p>{{message_receiver}}</p>
    <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
{% endblock contact %}

{% block messages %}

	<div class="wrap">
		<input type="text" id="chat-message-input" placeholder="Write your message..." />
		<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
		<button class="submit" id="chat-message-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
	</div>
{% endblock messages %}


{% block scripts %}
<script>
    // SCRIPT for contact buttons
    const friendBtn = document.querySelectorAll('#room-name-input');
        friendBtn.forEach((item) => {item.addEventListener('click' ,function(e) {
            var roomName = document.querySelector('#'+item.value).value;
            window.location.pathname = '/chat/' + roomName + '/';
        })})


    // SCRIPT for messages
    var roomName = {{ room_name_json }};
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

	chatSocket.onopen = function(e){
		fetchMessages();
	}

	function fetchMessages(){
		chatSocket.send(JSON.stringify({
            'command': 'fetch_messages',
            'room_name': roomName,
        }));
	}

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
		if(data['command'] === 'messages'){
			for (i=0;i<data['messages'].length;i++){
				createMessage(data['messages'][i]);
			}
		}else if(data['command']==='new_message'){
			createMessage(data['message']);
		}
	}
        
		
	function createMessage(data){
        var author = data['author'];

        var msgListTag = document.createElement('li');
        var imgTag = document.createElement('img');
        var pTag = document.createElement('p');
        pTag.textContent = data.content;
        imgTag.src = "{{author.profile.image.url}}";

        if (author === username){
            msgListTag.className = 'sent';
        }else{
            msgListTag.className = 'replies';
        }
        msgListTag.appendChild(imgTag);
        msgListTag.appendChild(pTag);
        document.querySelector('#chat-log').appendChild(msgListTag);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    var inputMsg = document.querySelector('#chat-message-input');
    inputMsg.onkeyup = function(e) {
        if (e.keyCode === 13 && inputMsg.value != '') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        if (message != ''){
            chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'new_message',
            'from': username,
            'room_name': roomName,
        }));
        }
        messageInputDom.value = '';
    };
</script>


{% endblock scripts %}

